asgiref==3.8.1
Django==4.2
Pillow
sqlparse==0.5.0
python-decouple

# REST Framework - api
djangorestframework
django-filter
markdown
django-cors-headers

#auth
djoser
djangorestframework_simplejwt

# documneting
drf-spectacular

# formating code
black
flake8

# bg processes
celery
redis
django-redis

# for Database
psycopg2-binary
faker

# testing code
pytest
pytest-django

# for deploy
gunicorn
python-decouple